In [6]:
""" Q1. Create one variable containing following type of data:
(i) string (ii) list (iii) float (iv) tuple """

a = ("taapas",[1,2,3,4,5],15.50,("pwskills", "taapas"))
     
type(a[0])

str

In [7]:
a = ("taapas",[1,2,3,4,5],15.50,("pwskills", "taapas"))
type(a[1])

list

In [8]:
a = ("taapas",[1,2,3,4,5],15.50,("pwskills", "taapas"))
type(a[2])

float

In [10]:
a = ("taapas",[1,2,3,4,5],15.50,("pwskills", "taapas"))
type(a[3])

tuple

In [ ]:
""" Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable."""

# Answer 2 = (i) invalid , (ii) invalid, (iii) = invalid , (iv) = int

In [12]:
var1 = ‘ ‘
type(var1)

SyntaxError: invalid character '‘' (U+2018) (3647581571.py, line 1)

In [13]:
var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (3990704681.py, line 1)

In [14]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
type(var3)

SyntaxError: invalid character '‘' (U+2018) (763556664.py, line 1)

In [15]:
var4 = 1
type(var4)

int

In [ ]:
""" Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** """

In [16]:
# (i) / is used for divide. please refer below example
6/2

3.0

In [18]:
# (ii) % is used for remainder. 
6%5

1

In [20]:
# (iii) // used for floor division. brings the number to nearest whole number

15//7

2

In [23]:
# (iv) ** is used for square root

15**2

225

In [ ]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""

In [28]:
a=["taapas",True,False,1,(1,2,3),12.54,"pwskills","inuron","python",30]
for i in a:
    print(type(i))

<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'tuple'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
""" Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. """

In [11]:
A = 20
B = 5    

if A % B == 0:
    count = A // B
print(" A is divisible by B and can be divided times",count)

 A is divisible by B and can be divided times 4

In [ ]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""

In [26]:
a = list(range(1,26))
for i in a:
    if i % 3 == 0:
        print(i,"divisible bt 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 divisible bt 3
4 is not divisible by 3
5 is not divisible by 3
6 divisible bt 3
7 is not divisible by 3
8 is not divisible by 3
9 divisible bt 3
10 is not divisible by 3
11 is not divisible by 3
12 divisible bt 3
13 is not divisible by 3
14 is not divisible by 3
15 divisible bt 3
16 is not divisible by 3
17 is not divisible by 3
18 divisible bt 3
19 is not divisible by 3
20 is not divisible by 3
21 divisible bt 3
22 is not divisible by 3
23 is not divisible by 3
24 divisible bt 3
25 is not divisible by 3

In [ ]:
"""What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

In [ ]:
#MUTABLE
# Mutalble data is changable and function like pop,extend etc can be used. pleaase refer below example

In [27]:
a = [0,1,2,2,3,4,5]
a.pop(2)

2

In [28]:
print(a)

[0, 1, 2, 3, 4, 5]

In [7]:
# here we can see after using pop function our data in list has changed.

#IMMUTABLE
# immutable data can not be changed and no addition or reduction can be done on data, please refer below example

a = (0,1,2,3,4,5)

a,remove(1)

NameError: name 'remove' is not defined