In [ ]:
"""Q1. How do you comment code in Python? What are the different types of comments?"""

In [ ]:
"""Answer1 - When you need to clarify somthing in a code you can use comment to write it in python along with codes.
Types of comment
1- Single line comment by use of #
2 Multi line comments by use of " " or "" "" or even three times"""

In [ ]:
""" Q2. What are variables in Python? How do you declare and assign values to variables? """

In [9]:
#Answer 2 -Variables are used to store & manupulate the data, when you assign a value to something it becomes variable, please refer below example
a = 10
b = 20
# here a & b are variables, since I declared there value 10 & 20 hence these values are assigned to the variables

In [10]:
#Q3 - How do you convert one data type to another in Python?

In [16]:
#Answer 3 - By using type conversion,to convert a data type you need to give command by writing data type in front of variable, please refer below example
a = 1
type(a)

int

In [20]:
print(type(str(a)))

<class 'str'>

In [ ]:
#Q4. How do you write and execute a Python script from the command line?

In [22]:
#Answer 4 - type python code that you want to execute and and click on run button or pess SHIFT + ENTER

In [23]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

In [24]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?
#Answer - in python complex numbers are represended using complex data type and imaginary part of complex numbers is denoted by j Or J , please refer example below.
z=1+3j

In [25]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

age = 25

In [27]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?
#Answer = float
price = 9.99
type(price)

float

In [28]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
# answer - there are 2 ways to print its value

name = "Taapas Sharma"
name

'Taapas Sharma'

In [29]:
print(name)

Taapas Sharma

In [30]:
#Q10. Given the string "Hello, World!", extract the substring "World".
a = "Hello, World"
a[7:12]

'World'

In [31]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
is_student=True

In [32]:
is_student

True

In [ ]:
if is_stydent = True:
    print"I want placement assistance"